@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The Academic Information Service is an online accessible information resource for members and the public with information about events, reports, and members available.</p>
