@model IEnumerable < AcademicInformationService.Models.Member>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Academic Infromation Service</h1>
    <p class="lead">AIS is an information service for accessing information about members, events, and reports from our academic community.</p>
</div>

<div class="row">
    @foreach (var member in Model)
    {
        <div class="col-md-4">
            <h2>@member.MembershipType.Name</h2>
            <p>@member.Biography</p>
            <p>@Html.ActionLink(member.Name, "Details", "Members", new {id = member.MemberId}, null)</p>
        </div>
    }
    @if (User.IsInRole("Administrator"))
    {
        <div class="col-md-4">
            <h2>Register Admin</h2>
            <p>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink"})</p>
        </div>
    }
</div>