@model IEnumerable<AcademicInformationService.Models.Member>
@{
    ViewBag.Title = "Members";
    //    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Members</h2>
<p>@Html.ActionLink("New Member", "New", "Members", null, new { @class = "btn btn-primary" })</p>

@if (!Model.Any())
{
    <p>We don't have any members yet.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Member</th>
                <th>Delete Member</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var member in Model)
            {
                <tr>
                    <td>@Html.ActionLink(member.Name, "Edit", "Members", new { id = member.MemberId }, null)</td>
                    <td>@Html.ActionLink("Delete", "Delete", "Members", new { id = member.MemberId }, null)</td>
                </tr>
            }
        </tbody>
    </table>
}