@model IEnumerable<AcademicInformationService.Models.Report>
@{
    ViewBag.Title = "Reports";
    //    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Members</h2>
@if (!Model.Any())
{
    <p>We don't have any reports yet.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Report</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var report in Model)
        {
            <tr>
                <td>@Html.ActionLink(report.Name, "Details", "Reports", new {id = report.ReportId}, null)</td>
            </tr>
        }
        </tbody>
    </table>
}